@charset "utf-8";
/* CSS Document */
.header{
	width:1200px;
	
	margin:0 auto;
	}
.footer{
	width:100%;
	height:80px;
	}
.footer-logo{
	float:left;
	margin-left:15%;
	margin-top:15px;
	}
.footer-text .text{
	width:270px;
	height:30px;
	margin-top:25px;
	margin-left:25px;
	color:#CCC;
	}
.footer ul{
	margin-left:330px;
	margin-top:-30px;
	float:left;
	}
.footer ul li{
	font-size:23px;
	}
.footer-bg{
	width:100%;
	height:150px;
	background: url(../images/doubanapp4_bg.png);
	position:relative;
	}
.footer-bg img{
	zoom:0.65;
	margin-left:190px;
	float:left;
	}
.download{
	float:left;
	background:#0C0;
	border-radius:3px;
	width:100px;
	height:30px;
	color:#FFF;
	font-size:14px;
	text-align:center;
	line-height:30px;
	margin:100px 0 0 -120px;
	}
.code{
	width:50px;
	height:50px;
	position:absolute;
	left:660px;
	top:100px;
	}
.code img{
	border:1px solid #0C0;
	border-radius:3px;
	zoom:0.5;
	margin-left:0;
	
	}
.code:hover{
	width:200px;
	height:200px;
	background: url(../images/doubanapp_qrcode.png) no-repeat;
	background-size:200px;
	border:1px solid #000;
	}
.login{
	width:230px;
	height:150px;
	float:left;
	margin-left:170px;
	}
.login .text-1{
	width:230px;
	height:20px;
	border:0px;
	margin-top:30px;
	font-size:12px;
	}
.login .text-2{
	width:230px;
	height:20px;
	border:0px;
	margin-top:5px;
	font-size:12px;
	}
.login .submit{
	width:110px;
	height:20px;
	border:none;
	background: #0C6;
	margin-top:5px;
	color:#FFF;
	font-size:12px;
	border-radius:2px;
	}
.login .submit-1{
	width:110px;
	height:20px;
	margin-top:5px;
	color:#0C6;
	background:none;
	font-size:12px;
	border-radius:2px;
	border:none;
	border:1px solid #0c6;
	}
.login .checkbox{
	margin-top:5px;
	float:left;
	}
.login .checkbox-1{
	font-size:12px;
	font-weight:normal;
	display:inline-block;
	margin-top:5px;
	float:left;
	}
.login img{
	float: right;
	margin-left:0;
	margin-top:5px;
	}
.conter-box1{
	width:870px;
	height:350px;

	margin:50px auto;
	}
.box1-left{
	width:600px;
	height:400px;

	float:left;
	}
.conter-box1 .hot{
	font-size:16px;
	color: #090;
	}
.conter-box1 .hot span{
	font-size:14px;
	}
.box1-left-1 ul{
	float:left;
	margin-top:10px;
	}
.box1-left-1 ul li{
	zoom:0.8;
	color:#999;
	}
.box1-left-1{
	width:300px;
	height:400px;

	float:left;
	}
.box1-left-2{
	float:right;
	width:280px;
	height:400px;

	}
.box1-left-2 ul{
	margin-top:8px;
	}
.box1-left-2 ul li{
	font-size:12px;
	padding-top:20px;
	color:#666;
	}
.box1-right{
	width:220px;
	height:400px;

	float:right;
	}
.box1-right img{
	zoom:0.44;
	}
.box1-right .activity{
	font-size:16px;
	color: #090;
	margin-top:10px;
	float:none;
	}
.box1-right .activity span{
	font-size:14px;
	}
.box1-right .title{
	margin-top:10px;
	font-size:12px;
	}
.box1-right .desc{
	font-size:12px;
	color:#999;
	margin-top:5px;
	}
.box1-right .desc span{
	margin-top:5px;
	line-height:20px;
	}
/*下面是第二个盒子的CSS*/
.conter-box2{
	width:870px;
	height:700px;
	margin:50px auto;
	background: #EAE8EA;
	}
.box2-left{
	width:100px;
	height:400px;
	float:left;
	}

.box2-left .box2-title{
	font-size:30px;
	color:#06C;
	float:left;
	margin-top:30px;
	}
.box2-left ul{
	margin-top:10px;
	float:left;
	}
.box2-left ul li{
	display:block;
	font-size:18px;
	padding:5px;
	color:#06C;
	}
/*第二个盒子左边结束*/
.box2-conter{
	width:500px;
	height:560px;
	float:left;
	margin-left:50px;
	}
.box2-conter .hot{
	font-size:18px;
	font-weight:normal;
	margin-top:35px;
	float:left;
	color:#0C0;
	}
.b2-conter-img{
	width:470px;
	height:230px;
	float:left;
	margin-left:15px;
	margin-top:10px;
	}
.b2-conter-img ul .li3{
	padding-left:15px;
	}
.b2-con-bkname{
	font-size:12px;
	margin-top:10px;
	}
.b2-con-bkname ul .li4{
	padding-left:25px;
	}
.b2-con-bkname ul .li5{
	padding-left:70px;
	}
.b2-con-bkname ul .li6{
	padding-left:43px;
	}
.b2-con-bkname ul .li7{
	padding-left:33px;
	}
.b2-con-bkscore ul span{
	color:#FC3;
	font-size:14px;
	}
.b2-con-bkscore{
	margin-left:10px;
	}
.b2-con-bkscore ul .li4{

	width:60px;
	height:11px;
	overflow:hidden;
	}
.b2-con-bkscore ul .li4 img{
	float:left;
	margin-top:-33px;
	}
.b2-con-bkscore ul .li5{

	width:60px;
	height:11px;
	overflow:hidden;
	margin-left:35px;
	}
.b2-con-bkscore ul .li5 img{
	float:left;
	margin-top:-55px;
	}
.b2-con-bkscore ul .li6{

	width:60px;
	height:11px;
	overflow:hidden;
	margin-left:25px;
	}
.b2-con-bkscore ul .li6 img{
	float:left;
	margin-top:-44px;
	}
.b2-con-bkscore ul .li7{

	width:60px;
	height:11px;
	overflow:hidden;
	margin-left:35px;
	}
.b2-con-bkscore ul .li7 img{
	float:left;
	margin-top:-22px;
	}
.b2-button{
	width:70px;
	height:20px;
	background:#00F;
	float:left;
	margin-left:15px;
	color:#FFF;
	font-size:12px;
	border-radius:3px;
	text-align:center;
	line-height:20px;
	}
.b2-button1{
	width:70px;
	height:20px;
	background:#00F;
	float:left;
	margin-left:60px;
	color:#FFF;
	font-size:12px;
	border-radius:3px;
	text-align:center;
	line-height:20px;
	}
.b2-button2{
	width:70px;
	height:20px;
	background:#00F;
	float:left;
	margin-left:50px;
	color:#FFF;
	font-size:12px;
	border-radius:3px;
	text-align:center;
	line-height:20px;
	}
.b2-button3{
	width:70px;
	height:20px;
	background:#00F;
	float:left;
	margin-left:50px;
	color:#FFF;
	font-size:12px;
	border-radius:3px;
	text-align:center;
	line-height:20px;
	}
.b2-con-bkname1{
	font-size:12px;
	margin-top:10px;
	}
.b2-con-bkname1 ul .li4{
	padding-left:40px;
	}
.b2-con-bkname1 ul .li5{
	padding-left:50px;
	}
.b2-con-bkname1 ul .li6{
	padding-left:20px;
	}
.b2-con-bkname1 ul .li7{
	padding-left:12px;
	}
.b2-con-bkscore1 ul span{
	color:#FC3;
	font-size:14px;
	}
.b2-con-bkscore1{
	margin-left:10px;
	}
.b2-con-bkscore1 ul .li4{

	width:60px;
	height:11px;
	overflow:hidden;
	}
.b2-con-bkscore1 ul .li4 img{
	float:left;
	margin-top:-43px;
	}
.b2-con-bkscore1 ul .li5{

	width:60px;
	height:11px;
	overflow:hidden;
	margin-left:35px;
	}
.b2-con-bkscore1 ul .li5 img{
	float:left;
	margin-top:-11px;
	}
.b2-con-bkscore1 ul .li6{
	font-size:12px;
	width:60px;
	height:11px;
	
	margin-left:45px;
	}
.b2-con-bkscore1 ul .li7{

	width:60px;
	height:11px;
	overflow:hidden;
	margin-left:35px;
	}
.b2-con-bkscore1 ul .li7 img{
	float:left;
	margin-top:-55px;
	}
/*第二个盒子中间结束*/
.box2-right{
	width:210px;
	height:600px;
	background:#0FF;
	float:right;
	}
.box2-right .hot{
	font-size:18px;
	font-weight:normal;
	margin-top:35px;
	float:left;
	color:#0C0;
	}
.b2-rig-movie{
	width:210px;
	height:160px;
	float:left;
	margin-top:10px;
	}
.b2-rig-movie ul li{
	width:3em;
	text-align:left;
	font-size:12px;
	margin-top:6px;
	color:#03F;
	}
		
/*市集大盒子开始*/
.b-box{
	width:1000px;
	background: #F5F5F5;
	margin:0 auto;
	}
.b-box-left{
	width:100px;
	float:left;
	}
.b-box-left ul li a:link{
	color:#000;
	}
.b-box-left .b-box-title{
	font-size:30px;
	color: #0C0;
	float:left;
	margin-top:30px;
	}
.b-box-left ul{
	margin-top:10px;
	float:left;
	}
.b-box-left ul li{
	display:block;
	font-size:18px;
	padding:5px;
	}
.b-box-conter{
	width:600px;
	float:left;
	margin-left:20px;
	}
.b-box-conter .goods{
	font-size:18px;
	font-weight:normal;
	margin-top:35px;
	float:left;
	color:#0C0;
	}
.b-box-conter .goods a:link{
	color:#00F;
	}
.b-box-div1{
	width:600px;
	height:300px;
	float:left;
	margin-top:20px;
	}
.div1-img{
	float:left;
	}
.div1-img img{
	zoom:0.9;
	}
.div1-img ul{
	padding-top:5px;
	}
.div1-img ul li p{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:210px;
	font-size:14px;
	float:none;
	font-weight:normal;
	}
.div1-img ul li span{
	font-size:14px;
	color:#666;
	}
.div1-div{
	width:300px;
	height:300px;
	float:right;
	}
.div1-div ul .li2{
	padding-left:20px;
	}
.div1-div ul li img{
	width:120px;
	}

.div1-div ul .li1 div{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:110px;
	font-size:14px;
	float:none;
	font-weight:normal;
	margin-top:10px;
	}
.div1-div ul .li2 div{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:110px;
	font-size:14px;
	float:none;
	font-weight:normal;
	margin-top:10px;
	}

.b-box-right{
	width:280px;
	height:750px;
	float:right;
	}
.b-box-right .goods{
	font-size:18px;
	font-weight:normal;
	margin-top:35px;
	float:left;
	color:#0C0;
	}
.b-right-1{
	width:280px;
	height:80px;
	float:left;
	margin-top:20px;
	}
.b-right-1 img{
	width:80px;
	float:left;
	}
.b-right-ul{
	float:left;
	width:200px;
	height:80px;
	}
.b-right-ul ul li{
	font-size:12px;
	padding:5px;
	}
/*市集大盒子结束*/
